@model IEnumerable<TechInTriunfo.Models.Servico>

@{
    ViewData["Title"] = "Serviços";
}

<main>
    <div class="btn-cadastrar">
        <a href="@Url.Action("Create")" class="btn-cadastrar">Cadastrar Novo Serviço</a>
    </div>
    <div class="contato-container">
        <h1>Nossos Serviços</h1>


        <div class="produtos-container">

            @foreach (var servico in Model)
            {
                <div class="produto-card">
                    <h3>@servico.Nome</h3>
                    <p class="destaque-preco">@servico.Valor.ToString("C")</p>
                    @if (!string.IsNullOrEmpty(servico.Descricao))
                    {
                        <p>@servico.Descricao</p>
                    }
                    <a href="@Url.Action("Edit", new { id = servico.Id })" class="btn-comprar">Editar</a>
                    <a href="@Url.Action("Delete", new { id = servico.Id })" class="btn-comprar">Excluir</a>
                    <form asp-action="AddToCart" asp-controller="Carrinho" method="post">
                        <input type="hidden" name="servicoId" value="@servico.Id" />
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn-comprar">
                            <i class="bi bi-cart-plus"></i> Contratar
                        </button>
                    </form>
                </div>
            }
        </div>
    </div>
</main>